@layer theme {
  --color-token-text-primary: var(--text-primary);
  --color-token-text-secondary: var(--text-secondary);
  --color-token-text-tertiary: var(--text-tertiary);
  --color-token-text-quaternary: var(--text-quaternary);
  --color-token-bg-primary: var(--bg-primary);
  --color-token-bg-secondary: var(--bg-secondary);
  --color-token-bg-tertiary: var(--bg-tertiary);
  --color-token-main-surface-primary: var(--main-surface-primary);
  --color-token-main-surface-secondary: var(--main-surface-secondary);
  --color-token-main-surface-tertiary: var(--main-surface-tertiary);
  --color-token-surface-hover: var(--surface-hover);
  --color-token-border-light: var(--border-light);
  --color-token-border-medium: var(--border-medium);
  --color-token-border-default: var(--border-default);
  --color-token-sidebar-surface: var(--sidebar-surface);
  --color-text-secondary: #00000080;
  --color-text: var(--text-primary);
  --color-border: #0d0d0d1a;
  --gray-25: #fcfcfc;
  --color-token-text-primary: var(--text-primary);
  --color-token-text-secondary: var(--text-secondary);
  --color-token-text-tertiary: var(--text-tertiary);
  --color-token-text-quaternary: var(--text-quaternary);
  --color-token-bg-primary: var(--bg-primary);
  --color-token-bg-secondary: var(--bg-secondary);
  --color-token-bg-tertiary: var(--bg-tertiary);
  --color-token-main-surface-primary: var(--main-surface-primary);
  --color-token-main-surface-secondary: var(--main-surface-secondary);
  --color-token-main-surface-tertiary: var(--main-surface-tertiary);
  --color-token-surface-hover: var(--surface-hover);
  --color-token-border-light: var(--border-light);
  --color-token-border-medium: var(--border-medium);
  --color-token-border-default: var(--border-default);
  --color-token-sidebar-surface: var(--sidebar-surface);
  --color-text-secondary: #ffffff80;
  --color-text: var(--text-primary);
  --color-border: #ffffff1f;
  --gray-25: #101010;
  --color-wallet-credit: var(--lightningcss-light,#16853f)var(--lightningcss-dark,var(--green-400));
  --green-50: #def3e5;
  --green-75: #c2eace;
  --green-100: #9fddb1;
  --green-200: #83d197;
  --green-300: #6bc67f;
  --green-400: #53b559;
  --green-500: #48a04c;
  --green-600: #3a843f;
  --green-700: #2c6732;
  --green-800: #1f4e25;
  --green-900: #14361a;
  --green-1000: #041208;
  --green-a50: #04b84c26;
  --green-a75: #04b84c4a;
  --blue-25: #f6fafe;
  --blue-50: #e8f3fe;
  --blue-75: #d1e5fd;
  --blue-100: #a4cdfb;
  --blue-200: #63a8f8;
  --blue-300: #539af8;
  --blue-400: #3a83f7;
  --blue-500: #2c67c5;
  --blue-600: #1f4e94;
  --blue-700: #173e76;
  --blue-800: #133463;
  --blue-900: #0c274a;
  --blue-1000: #020d18;
  --blue-a50: #0285ff21;
  --blue-a75: #0285ff40;
  --orange-25: #fdf5f1;
  --orange-50: #fbe8db;
  --orange-75: #f7d1b8;
  --orange-100: #f4ba96;
  --orange-200: #f1a275;
  --orange-300: #ef8b57;
  --orange-400: #ee7c37;
  --orange-500: #d25e28;
  --orange-600: #ac4f23;
  --orange-700: #87401d;
  --orange-800: #653218;
  --orange-900: #45240d;
  --orange-1000: #1f1209;
  --orange-a50: #fb6a2229;
  --orange-a75: #fb6a2254;
  --red-25: #fff0f0;
  --red-50: #ffe1e0;
  --red-75: #ffc6c5;
  --red-100: #ffa4a2;
  --red-200: #ff8583;
  --red-300: #ff6764;
  --red-400: #fa423e;
  --red-500: #ff002a;
  --red-600: #ba2623;
  --red-700: #911e1b;
  --red-800: #6e1615;
  --red-900: #4d100e;
  --red-1000: #1f0909;
  --red-a50: #fa423e29;
  --red-a75: #fa423e4c;
  --yellow-25: #fefbee;
  --yellow-50: #fdf6dc;
  --yellow-75: #fcefbe;
  --yellow-100: #fae598;
  --yellow-200: #f9dc78;
  --yellow-300: #f8d45d;
  --yellow-400: #f6c543;
  --yellow-500: #d9a337;
  --yellow-600: #b8802b;
  --yellow-700: #95611f;
  --yellow-800: #734615;
  --yellow-900: #51300c;
  --yellow-1000: #221403;
  --yellow-a50: #ffc30026;
  --yellow-a75: #ffc30045}html,.light,.dark .light{--interactive-bg-primary-default-context:var(--interactive-bg-primary-default);
  --color-text-emphasis: var(--gray-1000);
  --color-text-prose: var(--color-text-emphasis);
  --color-text-secondary: var(--lightningcss-light,var(--gray-500))var(--lightningcss-dark,var(--gray-800));
  --color-text-tertiary: var(--lightningcss-light,var(--gray-400))var(--lightningcss-dark,var(--gray-600));
  --color-text-inverse: var(--gray-0);
  --color-ring: var(--lightningcss-light,var(--blue-500))var(--lightningcss-dark,var(--blue-400));
  --color-text-primary: var(--color-text-emphasis);
  --color-background-primary-soft: var(--lightningcss-light,var(--gray-100))var(--lightningcss-dark,var(--gray-300));
  --color-background-primary-soft-hover: var(--lightningcss-light,var(--gray-150))var(--lightningcss-dark,var(--gray-350));
  --color-background-primary-soft-active: var(--lightningcss-light,var(--gray-200))var(--lightningcss-dark,var(--gray-400));
  --color-background-primary-soft-alpha: var(--lightningcss-light,var(--alpha-08))var(--lightningcss-dark,var(--alpha-12));
  --color-background-primary-soft-alpha-hover: var(--lightningcss-light,var(--alpha-12))var(--lightningcss-dark,var(--alpha-16));
  --color-background-primary-soft-alpha-active: var(--lightningcss-light,var(--alpha-16))var(--lightningcss-dark,var(--alpha-20));
  --color-text-primary-soft: var(--color-text-emphasis);
  --color-background-primary-soft-alt: var(--alpha-02);
  --color-border-primary-soft-alt: var(--alpha-06);
  --color-text-primary-soft-alt: var(--color-text-emphasis);
  --color-background-primary-surface: var(--lightningcss-light,var(--alpha-05))var(--lightningcss-dark,var(--alpha-08));
  --color-border-primary-surface: var(--lightningcss-light,var(--alpha-05))var(--lightningcss-dark,var(--alpha-08));
  --color-text-primary-surface: var(--color-text-emphasis);
  --color-background-primary-solid: var(--lightningcss-light,var(--gray-900))var(--lightningcss-dark,var(--gray-950));
  --color-background-primary-solid-hover: var(--lightningcss-light,var(--gray-700))var(--lightningcss-dark,var(--gray-900));
  --color-background-primary-solid-active: var(--lightningcss-light,var(--gray-600))var(--lightningcss-dark,var(--gray-850));
  --color-text-primary-solid: var(--color-text-inverse);
  --color-background-primary-outline-hover: var(--lightningcss-light,var(--alpha-02))var(--lightningcss-dark,var(--alpha-04));
  --color-background-primary-outline-active: var(--lightningcss-light,var(--alpha-04))var(--lightningcss-dark,var(--alpha-06));
  --color-border-primary-outline: var(--lightningcss-light,var(--alpha-16))var(--lightningcss-dark,var(--alpha-25));
  --color-border-primary-outline-hover: var(--lightningcss-light,var(--alpha-20))var(--lightningcss-dark,var(--alpha-30));
  --color-text-primary-outline: var(--color-text-emphasis);
  --color-text-primary-outline-hover: var(--color-text-emphasis);
  --color-background-primary-ghost-hover: var(--lightningcss-light,var(--alpha-08))var(--lightningcss-dark,var(--alpha-12));
  --color-background-primary-ghost-active: var(--lightningcss-light,var(--alpha-12))var(--lightningcss-dark,var(--alpha-16));
  --color-text-primary-ghost: var(--color-text-emphasis);
  --color-text-primary-ghost-hover: var(--color-text-emphasis);
  --color-ring-primary: var(--color-ring);
  --color-ring-primary-soft: var(--color-ring-primary);
  --color-ring-primary-solid: var(--color-ring-primary);
  --color-ring-primary-outline: var(--color-ring-primary);
  --color-ring-primary-ghost: var(--color-ring-primary);
  --color-background-secondary-soft: var(--lightningcss-light,var(--gray-100))var(--lightningcss-dark,var(--gray-300));
  --color-background-secondary-soft-hover: var(--lightningcss-light,var(--gray-150))var(--lightningcss-dark,var(--gray-350));
  --color-background-secondary-soft-active: var(--lightningcss-light,var(--gray-200))var(--lightningcss-dark,var(--gray-400));
  --color-background-secondary-soft-alpha: var(--lightningcss-light,var(--alpha-08))var(--lightningcss-dark,var(--alpha-12));
  --color-background-secondary-soft-alpha-hover: var(--lightningcss-light,var(--alpha-12))var(--lightningcss-dark,var(--alpha-16));
  --color-background-secondary-soft-alpha-active: var(--lightningcss-light,var(--alpha-16))var(--lightningcss-dark,var(--alpha-20));
  --color-text-secondary-soft: var(--color-text);
  --color-background-secondary-soft-alt: var(--alpha-02);
  --color-border-secondary-soft-alt: var(--alpha-06);
  --color-text-secondary-soft-alt: var(--color-text);
  --color-background-secondary-solid: var(--lightningcss-light,var(--gray-500))var(--lightningcss-dark,var(--gray-400));
  --color-background-secondary-solid-hover: var(--lightningcss-light,var(--gray-600))var(--lightningcss-dark,var(--gray-450));
  --color-background-secondary-solid-active: var(--lightningcss-light,var(--gray-700))var(--lightningcss-dark,var(--gray-500));
  --color-text-secondary-solid: var(--white);
  --color-background-secondary-outline-hover: var(--lightningcss-light,var(--alpha-02))var(--lightningcss-dark,var(--alpha-04));
  --color-background-secondary-outline-active: var(--lightningcss-light,var(--alpha-04))var(--lightningcss-dark,var(--alpha-06));
  --color-border-secondary-outline: var(--lightningcss-light,var(--alpha-16))var(--lightningcss-dark,var(--alpha-25));
  --color-border-secondary-outline-hover: var(--lightningcss-light,var(--alpha-20))var(--lightningcss-dark,var(--alpha-30));
  --color-text-secondary-outline: var(--color-text-secondary);
  --color-text-secondary-outline-hover: var(--color-text);
  --color-background-secondary-ghost-hover: var(--lightningcss-light,var(--alpha-08))var(--lightningcss-dark,var(--alpha-12));
  --color-background-secondary-ghost-active: var(--lightningcss-light,var(--alpha-12))var(--lightningcss-dark,var(--alpha-16));
  --color-text-secondary-ghost: var(--color-text-secondary);
  --color-text-secondary-ghost-hover: var(--color-text);
  --color-ring-secondary: var(--color-ring);
  --color-ring-secondary-soft: var(--color-ring-secondary);
  --color-ring-secondary-solid: var(--color-ring-secondary);
  --color-ring-secondary-outline: var(--color-ring-secondary);
  --color-ring-secondary-ghost: var(--color-ring-secondary);
  --color-text-info: var(--lightningcss-light,var(--blue-400))var(--lightningcss-dark,var(--blue-300));
  --color-background-info-soft: var(--blue-50);
  --color-background-info-soft-hover: var(--blue-75);
  --color-background-info-soft-active: var(--blue-75);
  --color-background-info-soft-alpha: var(--blue-a50);
  --color-background-info-soft-alpha-hover: var(--blue-a75);
  --color-background-info-soft-alpha-active: var(--blue-a75);
  --color-text-info-soft: var(--lightningcss-light,var(--blue-400))var(--lightningcss-dark,var(--blue-300));
  --color-background-info-surface: var(--lightningcss-light,var(--blue-a25))var(--lightningcss-dark,var(--blue-a50));
  --color-border-info-surface: var(--lightningcss-light,var(--blue-a25))var(--lightningcss-dark,var(--blue-a50));
  --color-text-info-surface: var(--lightningcss-light,var(--blue-600))var(--lightningcss-dark,var(--blue-300));
  --color-background-info-solid: var(--blue-400);
  --color-background-info-solid-hover: var(--blue-500);
  --color-background-info-solid-active: var(--blue-500);
  --color-text-info-solid: var(--white);
  --color-background-info-outline-hover: var(--blue-a25);
  --color-background-info-outline-active: var(--blue-a25);
  --color-border-info-outline: var(--lightningcss-light,var(--blue-400))var(--lightningcss-dark,var(--blue-200));
  --color-border-info-outline-hover: var(--lightningcss-light,var(--blue-400))var(--lightningcss-dark,var(--blue-300));
  --color-text-info-outline: var(--lightningcss-light,var(--blue-400))var(--lightningcss-dark,var(--blue-200));
  --color-text-info-outline-hover: var(--lightningcss-light,var(--blue-400))var(--lightningcss-dark,var(--blue-200));
  --color-background-info-ghost-hover: var(--blue-a50);
  --color-background-info-ghost-active: var(--blue-a50);
  --color-text-info-ghost: var(--lightningcss-light,var(--blue-500))var(--lightningcss-dark,var(--blue-200));
  --color-text-info-ghost-hover: var(--lightningcss-light,var(--blue-500))var(--lightningcss-dark,var(--blue-200));
  --color-ring-info: var(--color-ring);
  --color-ring-info-soft: var(--color-ring-info);
  --color-ring-info-solid: var(--color-ring-info);
  --color-ring-info-outline: var(--color-ring-info);
  --color-ring-info-ghost: var(--color-ring-info);
  --color-text-warning: var(--lightningcss-light,var(--orange-700))var(--lightningcss-dark,var(--orange-500));
  --color-background-warning-soft: var(--orange-50);
  --color-background-warning-soft-hover: var(--orange-75);
  --color-background-warning-soft-active: var(--orange-75);
  --color-background-warning-soft-alpha: var(--orange-a50);
  --color-background-warning-soft-alpha-hover: var(--orange-a75);
  --color-background-warning-soft-alpha-active: var(--orange-a75);
  --color-text-warning-soft: var(--lightningcss-light,var(--orange-700))var(--lightningcss-dark,var(--orange-400));
  --color-background-warning-surface: var(--lightningcss-light,var(--orange-a25))var(--lightningcss-dark,var(--orange-a50));
  --color-border-warning-surface: var(--lightningcss-light,var(--orange-a25))var(--lightningcss-dark,var(--orange-a50));
  --color-text-warning-surface: var(--lightningcss-light,var(--orange-600))var(--lightningcss-dark,var(--orange-300));
  --color-background-warning-solid: var(--orange-500);
  --color-background-warning-solid-hover: var(--orange-600);
  --color-background-warning-solid-active: var(--orange-600);
  --color-text-warning-solid: var(--white);
  --color-background-warning-outline-hover: var(--orange-a25);
  --color-background-warning-outline-active: var(--orange-a25);
  --color-border-warning-outline: var(--orange-500);
  --color-border-warning-outline-hover: var(--orange-500);
  --color-text-warning-outline: var(--orange-500);
  --color-text-warning-outline-hover: var(--orange-500);
  --color-background-warning-ghost-hover: var(--orange-a50);
  --color-background-warning-ghost-active: var(--orange-a50);
  --color-text-warning-ghost: var(--orange-500);
  --color-text-warning-ghost-hover: var(--orange-500);
  --color-ring-warning: var(--color-ring);
  --color-ring-warning-soft: var(--color-ring-warning);
  --color-ring-warning-solid: var(--color-ring-warning);
  --color-ring-warning-outline: var(--color-ring-warning);
  --color-ring-warning-ghost: var(--color-ring-warning);
  --color-text-caution: var(--lightningcss-light,var(--yellow-700))var(--lightningcss-dark,var(--yellow-500));
  --color-text-caution-hover: var(--yellow-800);
  --color-background-caution-soft: var(--yellow-50);
  --color-background-caution-soft-hover: var(--yellow-75);
  --color-background-caution-soft-active: var(--yellow-75);
  --color-background-caution-soft-alpha: var(--yellow-a50);
  --color-background-caution-soft-alpha-hover: var(--yellow-a75);
  --color-background-caution-soft-alpha-active: var(--yellow-a75);
  --color-text-caution-soft: var(--lightningcss-light,var(--yellow-800))var(--lightningcss-dark,var(--yellow-400));
  --color-background-caution-surface: var(--lightningcss-light,var(--yellow-a25))var(--lightningcss-dark,var(--yellow-a50));
  --color-border-caution-surface: var(--lightningcss-light,var(--yellow-a25))var(--lightningcss-dark,var(--yellow-a50));
  --color-text-caution-surface: var(--lightningcss-light,var(--yellow-800))var(--lightningcss-dark,var(--yellow-400));
  --color-background-caution-solid: var(--yellow-600);
  --color-background-caution-solid-hover: var(--yellow-700);
  --color-background-caution-solid-active: var(--yellow-700);
  --color-text-caution-solid: var(--white);
  --color-background-caution-outline-hover: var(--yellow-a25);
  --color-background-caution-outline-active: var(--yellow-a25);
  --color-border-caution-outline: var(--yellow-700);
  --color-border-caution-outline-hover: var(--yellow-700);
  --color-text-caution-outline: var(--yellow-700);
  --color-text-caution-outline-hover: var(--yellow-700);
  --color-background-caution-ghost-hover: var(--yellow-a50);
  --color-background-caution-ghost-active: var(--yellow-a50);
  --color-text-caution-ghost: var(--yellow-700);
  --color-text-caution-ghost-hover: var(--yellow-700);
  --color-ring-caution: var(--color-ring);
  --color-ring-caution-soft: var(--color-ring-caution);
  --color-ring-caution-solid: var(--color-ring-caution);
  --color-ring-caution-outline: var(--color-ring-caution);
  --color-ring-caution-ghost: var(--color-ring-caution);
  --color-text-danger: var(--lightningcss-light,var(--red-400))var(--lightningcss-dark,var(--red-300));
  --color-background-danger-soft: var(--red-50);
  --color-background-danger-soft-hover: var(--red-75);
  --color-background-danger-soft-active: var(--red-75);
  --color-background-danger-soft-alpha: var(--red-a50);
  --color-background-danger-soft-alpha-hover: var(--red-a75);
  --color-background-danger-soft-alpha-active: var(--red-a75);
  --color-text-danger-soft: var(--lightningcss-light,var(--red-500))var(--lightningcss-dark,var(--red-300));
  --color-background-danger-surface: var(--lightningcss-light,var(--red-a25))var(--lightningcss-dark,var(--red-a50));
  --color-border-danger-surface: var(--lightningcss-light,var(--red-a25))var(--lightningcss-dark,var(--red-a50));
  --color-text-danger-surface: var(--lightningcss-light,var(--red-600))var(--lightningcss-dark,var(--red-400));
  --color-background-danger-solid: var(--red-400);
  --color-background-danger-solid-hover: var(--red-500);
  --color-background-danger-solid-active: var(--red-500);
  --color-text-danger-solid: var(--white);
  --color-background-danger-outline-hover: var(--red-a25);
  --color-background-danger-outline-active: var(--red-a25);
  --color-border-danger-outline: var(--color-border-primary-outline);
  --color-border-danger-outline-hover: var(--lightningcss-light,var(--red-a100))var(--lightningcss-dark,var(--red-a75));
  --color-text-danger-outline: var(--lightningcss-light,var(--red-400))var(--lightningcss-dark,var(--red-300));
  --color-text-danger-outline-hover: var(--lightningcss-light,var(--red-400))var(--lightningcss-dark,var(--red-500));
  --color-background-danger-ghost-hover: var(--red-a50);
  --color-background-danger-ghost-active: var(--red-a50);
  --color-text-danger-ghost: var(--lightningcss-light,var(--red-500))var(--lightningcss-dark,var(--red-400));
  --color-text-danger-ghost-hover: var(--lightningcss-light,var(--red-500))var(--lightningcss-dark,var(--red-400));
  --color-ring-danger: var(--red-200);
  --color-ring-danger-soft: var(--color-ring-danger);
  --color-ring-danger-solid: var(--color-ring-danger);
  --color-ring-danger-outline: var(--color-ring-danger);
  --color-ring-danger-ghost: var(--color-ring-danger);
  --color-text-success: var(--lightningcss-light,var(--green-700))var(--lightningcss-dark,var(--green-400));
  --color-background-success-soft: var(--green-50);
  --color-background-success-soft-hover: var(--green-75);
  --color-background-success-soft-active: var(--green-75);
  --color-background-success-soft-alpha: var(--green-a50);
  --color-background-success-soft-alpha-hover: var(--green-a75);
  --color-background-success-soft-alpha-active: var(--green-a75);
  --color-text-success-soft: var(--lightningcss-light,var(--green-600))var(--lightningcss-dark,var(--green-400));
  --color-background-success-surface: var(--lightningcss-light,var(--green-a25))var(--lightningcss-dark,var(--green-a50));
  --color-border-success-surface: var(--lightningcss-light,var(--green-a25))var(--lightningcss-dark,var(--green-a50));
  --color-text-success-surface: var(--lightningcss-light,var(--green-600))var(--lightningcss-dark,var(--green-400));
  --color-background-success-solid: var(--lightningcss-light,var(--green-500))var(--lightningcss-dark,var(--green-600));
  --color-background-success-solid-hover: var(--lightningcss-light,var(--green-500))var(--lightningcss-dark,var(--green-600));
  --color-background-success-solid-active: var(--lightningcss-light,var(--green-500))var(--lightningcss-dark,var(--green-600));
  --color-text-success-solid: var(--white);
  --color-background-success-outline-hover: var(--green-a25);
  --color-background-success-outline-active: var(--green-a25);
  --color-border-success-outline: var(--lightningcss-light,var(--green-500))var(--lightningcss-dark,var(--green-600));
  --color-border-success-outline-hover: var(--lightningcss-light,var(--green-500))var(--lightningcss-dark,var(--green-600));
  --color-text-success-outline: var(--green-500);
  --color-text-success-outline-hover: var(--green-500);
  --color-background-success-ghost-hover: var(--green-a50);
  --color-background-success-ghost-active: var(--green-a50);
  --color-text-success-ghost: var(--green-500);
  --color-text-success-ghost-hover: var(--green-500);
  --color-ring-success: var(--color-ring);
  --color-ring-success-soft: var(--color-ring-info);
  --color-ring-success-solid: var(--color-ring-info);
  --color-ring-success-outline: var(--color-ring-info);
  --color-ring-success-ghost: var(--color-ring-info);
  --color-text-discovery: var(--lightningcss-light,var(--purple-500))var(--lightningcss-dark,var(--purple-200));
  --color-background-discovery-soft: var(--purple-50);
  --color-background-discovery-soft-hover: var(--purple-75);
  --color-background-discovery-soft-active: var(--purple-75);
  --color-background-discovery-soft-alpha: var(--purple-a50);
  --color-background-discovery-soft-alpha-hover: var(--purple-a75);
  --color-background-discovery-soft-alpha-active: var(--purple-a75);
  --color-text-discovery-soft: var(--lightningcss-light,var(--purple-600))var(--lightningcss-dark,var(--purple-200));
  --color-background-discovery-surface: var(--lightningcss-light,var(--purple-a25))var(--lightningcss-dark,var(--purple-a50));
  --color-border-discovery-surface: var(--lightningcss-light,var(--purple-a25))var(--lightningcss-dark,var(--purple-a50));
  --color-text-discovery-surface: var(--lightningcss-light,var(--purple-600))var(--lightningcss-dark,var(--purple-200));
  --color-background-discovery-solid: var(--purple-400);
  --color-background-discovery-solid-hover: var(--purple-500);
  --color-background-discovery-solid-active: var(--purple-500);
  --color-text-discovery-solid: var(--white);
  --color-background-discovery-outline-hover: var(--purple-a25);
  --color-background-discovery-outline-active: var(--purple-a25);
  --color-border-discovery-outline: var(--lightningcss-light,var(--purple-400))var(--lightningcss-dark,var(--purple-200));
  --color-border-discovery-outline-hover: var(--lightningcss-light,var(--purple-400))var(--lightningcss-dark,var(--purple-200));
  --color-text-discovery-outline: var(--lightningcss-light,var(--purple-400))var(--lightningcss-dark,var(--purple-200));
  --color-text-discovery-outline-hover: var(--lightningcss-light,var(--purple-400))var(--lightningcss-dark,var(--purple-200));
  --color-background-discovery-ghost-hover: var(--purple-a50);
  --color-background-discovery-ghost-active: var(--purple-a50);
  --color-text-discovery-ghost: var(--purple-500);
  --color-text-discovery-ghost-hover: var(--purple-500);
  --color-ring-discovery: var(--color-ring);
  --color-ring-discovery-soft: var(--color-ring);
  --color-ring-discovery-solid: var(--color-ring);
  --color-ring-discovery-outline: var(--color-ring);
  --color-ring-discovery-ghost: var(--color-ring);
  --color-background-disabled: var(--alpha-05);
  --color-border-disabled: var(--alpha-06);
  --color-text-disabled: var(--lightningcss-light,var(--gray-400))var(--lightningcss-dark,var(--gray-500));
  --color-border-subtle: var(--lightningcss-light,var(--alpha-05))var(--lightningcss-dark,var(--alpha-06));
  --color-border: var(--lightningcss-light,var(--alpha-10))var(--lightningcss-dark,var(--alpha-12));
  --color-border-strong: var(--lightningcss-light,var(--alpha-15))var(--lightningcss-dark,var(--alpha-20));
  --color-surface: var(--lightningcss-light,var(--gray-0))var(--lightningcss-dark,var(--gray-200));
  --color-surface-secondary: var(--lightningcss-light,var(--gray-50))var(--lightningcss-dark,var(--gray-100));
  --color-surface-tertiary: var(--lightningcss-light,var(--gray-75))var(--lightningcss-dark,var(--gray-50));
  --color-surface-elevated: var(--lightningcss-light,var(--gray-0))var(--lightningcss-dark,var(--gray-300));
  --color-surface-elevated-secondary: var(--lightningcss-light,var(--gray-50))var(--lightningcss-dark,var(--gray-400));
  --gray-0: var(--lightningcss-light,#fff)var(--lightningcss-dark,#0d0d0d);
  --gray-25: var(--lightningcss-light,#fcfcfc)var(--lightningcss-dark,#101010);
  --gray-50: var(--lightningcss-light,#f9f9f9)var(--lightningcss-dark,#131313);
  --gray-75: var(--lightningcss-light,#f3f3f3)var(--lightningcss-dark,#161616);
  --gray-100: var(--lightningcss-light,#ededed)var(--lightningcss-dark,#181818);
  --gray-150: var(--lightningcss-light,#dfdfdf)var(--lightningcss-dark,#1c1c1c);
  --gray-200: var(--lightningcss-light,#cdcdcd)var(--lightningcss-dark,#212121);
  --gray-250: var(--lightningcss-light,#b9b9b9)var(--lightningcss-dark,#282828);
  --gray-300: var(--lightningcss-light,#afafaf)var(--lightningcss-dark,#303030);
  --gray-350: var(--lightningcss-light,#9f9f9f)var(--lightningcss-dark,#393939);
  --gray-400: var(--lightningcss-light,#8f8f8f)var(--lightningcss-dark,#414141);
  --gray-450: var(--lightningcss-light,#767676)var(--lightningcss-dark,#4f4f4f);
  --gray-500: #5d5d5d;
  --gray-550: var(--lightningcss-light,#4f4f4f)var(--lightningcss-dark,#767676);
  --gray-600: var(--lightningcss-light,#414141)var(--lightningcss-dark,#8f8f8f);
  --gray-650: var(--lightningcss-light,#393939)var(--lightningcss-dark,#9f9f9f);
  --gray-700: var(--lightningcss-light,#303030)var(--lightningcss-dark,#afafaf);
  --gray-750: var(--lightningcss-light,#282828)var(--lightningcss-dark,#b9b9b9);
  --gray-800: var(--lightningcss-light,#212121)var(--lightningcss-dark,#cdcdcd);
  --gray-850: var(--lightningcss-light,#1c1c1c)var(--lightningcss-dark,#dcdcdc);
  --gray-900: var(--lightningcss-light,#181818)var(--lightningcss-dark,#ededed);
  --gray-925: var(--lightningcss-light,#161616)var(--lightningcss-dark,#f3f3f3);
  --gray-950: var(--lightningcss-light,#131313)var(--lightningcss-dark,#f3f3f3);
  --gray-975: var(--lightningcss-light,#101010)var(--lightningcss-dark,#f9f9f9);
  --gray-1000: var(--lightningcss-light,#0d0d0d)var(--lightningcss-dark,#fff);
  --gray-0-tw: var(--gray-0);
  --gray-25-tw: var(--gray-25);
  --gray-50-tw: var(--gray-50);
  --gray-75-tw: var(--gray-75);
  --gray-100-tw: var(--gray-100);
  --gray-150-tw: var(--gray-150);
  --gray-200-tw: var(--gray-200);
  --gray-250-tw: var(--gray-250);
  --gray-300-tw: var(--gray-300);
  --gray-350-tw: var(--gray-350);
  --gray-400-tw: var(--gray-400);
  --gray-450-tw: var(--gray-450);
  --gray-500-tw: var(--gray-500);
  --gray-550-tw: var(--gray-550);
  --gray-600-tw: var(--gray-600);
  --gray-650-tw: var(--gray-650);
  --gray-700-tw: var(--gray-700);
  --gray-750-tw: var(--gray-750);
  --gray-800-tw: var(--gray-800);
  --gray-850-tw: var(--gray-850);
  --gray-900-tw: var(--gray-900);
  --gray-925-tw: var(--gray-925);
  --gray-950-tw: var(--gray-950);
  --gray-975-tw: var(--gray-975);
  --gray-1000-tw: var(--gray-1000);
}

@layer components {
  --gray-25: var(--dil-chatgpt-gray-25);
  --gray-50: var(--dil-chatgpt-gray-50);
  --gray-75: var(--dil-chatgpt-gray-75);
  --gray-100: var(--dil-chatgpt-gray-100);
  --gray-150: var(--dil-chatgpt-gray-150);
  --gray-200: var(--dil-chatgpt-gray-200);
  --gray-250: var(--dil-chatgpt-gray-250);
  --gray-300: var(--dil-chatgpt-gray-300);
  --gray-350: var(--dil-chatgpt-gray-350);
  --gray-400: var(--dil-chatgpt-gray-400);
  --gray-450: var(--dil-chatgpt-gray-450);
  --gray-500: var(--dil-chatgpt-gray-500);
  --gray-550: var(--dil-chatgpt-gray-550);
  --gray-600: var(--dil-chatgpt-gray-600);
  --gray-650: var(--dil-chatgpt-gray-650);
  --gray-700: var(--dil-chatgpt-gray-700);
  --gray-750: var(--dil-chatgpt-gray-750);
  --gray-800: var(--dil-chatgpt-gray-800);
  --gray-850: var(--dil-chatgpt-gray-850);
  --gray-900: var(--dil-chatgpt-gray-900);
  --gray-925: var(--dil-chatgpt-gray-925);
  --gray-950: var(--dil-chatgpt-gray-950);
  --gray-975: var(--dil-chatgpt-gray-975);
  --gray-1000: var(--dil-chatgpt-gray-1000);
}

@layer base {
  --blue-theme-user-msg-bg: var(--blue-50);
  --blue-theme-user-msg-text: var(--blue-900);
  --blue-theme-submit-btn-bg: var(--blue-400);
  --blue-theme-submit-btn-text: #fff;
  --blue-theme-chart-color: var(--blue-300);
  --blue-theme-secondary-btn-bg: var(--blue-50);
  --blue-theme-secondary-btn-text: var(--blue-900);
  --blue-theme-user-selection-bg: var(--blue-300)}@supports (color:color-mix(in lab, red, red)){:root{--blue-theme-user-selection-bg:color-mix(in oklab, var(--blue-300) 35%, transparent)}}:root{--blue-theme-entity-accent:var(--theme-blue-default);
  --blue-theme-accent-text: var(--theme-blue-text);
  --blue-theme-accent-pill-bg-rest: var(--theme-blue-background);
  --blue-theme-accent-pill-bg-hover: var(--theme-blue-background);
  --blue-theme-accent-pill-text-rest: var(--theme-blue-default);
  --blue-theme-accent-pill-text-hover: var(--theme-blue-text-on-background);
  --green-theme-user-msg-bg: var(--green-50);
  --green-theme-user-msg-text: var(--green-900);
  --green-theme-submit-btn-bg: var(--green-400);
  --green-theme-submit-btn-text: #fff;
  --green-theme-chart-color: var(--green-300);
  --green-theme-secondary-btn-bg: var(--green-50);
  --green-theme-secondary-btn-text: var(--green-900);
  --green-theme-user-selection-bg: var(--green-300)}@supports (color:color-mix(in lab, red, red)){:root{--green-theme-user-selection-bg:color-mix(in oklab, var(--green-300) 35%, transparent)}}:root{--green-theme-entity-accent:var(--theme-green-default);
  --green-theme-accent-text: var(--theme-green-text);
  --green-theme-accent-pill-bg-rest: var(--theme-green-background);
  --green-theme-accent-pill-bg-hover: var(--theme-green-background);
  --green-theme-accent-pill-text-rest: var(--theme-green-default);
  --green-theme-accent-pill-text-hover: var(--theme-green-text-on-background);
  --yellow-theme-user-msg-bg: var(--yellow-50);
  --yellow-theme-user-msg-text: var(--yellow-900);
  --yellow-theme-submit-btn-bg: var(--yellow-400);
  --yellow-theme-submit-btn-text: #fff;
  --yellow-theme-chart-color: var(--yellow-300);
  --yellow-theme-secondary-btn-bg: var(--yellow-50);
  --yellow-theme-secondary-btn-text: var(--yellow-900);
  --yellow-theme-user-selection-bg: var(--yellow-300)}@supports (color:color-mix(in lab, red, red)){:root{--yellow-theme-user-selection-bg:color-mix(in oklab, var(--yellow-300) 35%, transparent)}}:root{--yellow-theme-entity-accent:var(--theme-yellow-default);
  --yellow-theme-accent-text: var(--theme-yellow-text);
  --yellow-theme-accent-pill-bg-rest: var(--theme-yellow-background);
  --yellow-theme-accent-pill-bg-hover: var(--theme-yellow-background);
  --yellow-theme-accent-pill-text-rest: var(--theme-yellow-default);
  --yellow-theme-accent-pill-text-hover: var(--theme-yellow-text-on-background);
  --orange-theme-user-msg-bg: var(--orange-50);
  --orange-theme-user-msg-text: var(--orange-900);
  --orange-theme-submit-btn-bg: var(--orange-400);
  --orange-theme-submit-btn-text: #fff;
  --orange-theme-chart-color: var(--orange-300);
  --orange-theme-secondary-btn-bg: var(--orange-50);
  --orange-theme-secondary-btn-text: var(--orange-900);
  --orange-theme-user-selection-bg: var(--orange-300)}@supports (color:color-mix(in lab, red, red)){:root{--orange-theme-user-selection-bg:color-mix(in oklab, var(--orange-300) 35%, transparent)}}:root{--orange-theme-entity-accent:var(--theme-orange-default);
  --orange-theme-accent-text: var(--theme-orange-text);
  --orange-theme-accent-pill-bg-rest: var(--theme-orange-background);
  --orange-theme-accent-pill-bg-hover: var(--theme-orange-background);
  --orange-theme-accent-pill-text-rest: var(--theme-orange-default);
  --orange-theme-accent-pill-text-hover: var(--theme-orange-text-on-background);
  --black-theme-user-msg-bg: #000;
  --black-theme-user-msg-text: #fff;
  --black-theme-submit-btn-bg: #000;
  --black-theme-submit-btn-text: #fff;
  --black-theme-chart-color: var(--blue-theme-chart-color);
  --black-theme-secondary-btn-bg: var(--gray-100);
  --black-theme-secondary-btn-text: var(--text-primary);
  --black-theme-user-selection-bg: var(--gray-300)}@supports (color:color-mix(in lab, red, red)){:root{--black-theme-user-selection-bg:color-mix(in oklab, var(--gray-300) 40%, transparent)}}:root{--black-theme-entity-accent:var(--theme-blue-default);
  --black-theme-accent-text: var(--theme-blue-text);
  --black-theme-accent-pill-bg-rest: var(--theme-blue-background);
  --black-theme-accent-pill-bg-hover: var(--theme-blue-background);
  --black-theme-accent-pill-text-rest: var(--theme-blue-default);
  --black-theme-accent-pill-text-hover: var(--theme-blue-text-on-background)}.dark,.light .dark{--default-theme-submit-btn-bg:#fff;
  --blue-theme-user-msg-bg: var(--blue-700);
  --blue-theme-user-msg-text: var(--blue-25);
  --blue-theme-submit-btn-bg: var(--blue-500);
  --blue-theme-chart-color: var(--blue-600);
  --blue-theme-secondary-btn-bg: var(--blue-600);
  --blue-theme-secondary-btn-text: var(--blue-25);
  --blue-theme-user-selection-bg: color-mix(in oklab, var(--blue-400) 60%, transparent);
  --blue-theme-entity-accent: var(--theme-blue-default);
  --blue-theme-accent-text: var(--theme-blue-text);
  --blue-theme-accent-pill-bg-rest: var(--theme-blue-background);
  --blue-theme-accent-pill-bg-hover: var(--theme-blue-background);
  --blue-theme-accent-pill-text-rest: var(--theme-blue-default);
  --blue-theme-accent-pill-text-hover: var(--theme-blue-text-on-background);
  --green-theme-user-msg-bg: var(--green-700);
  --green-theme-user-msg-text: var(--green-25);
  --green-theme-submit-btn-bg: var(--green-500);
  --green-theme-chart-color: var(--green-600);
  --green-theme-secondary-btn-bg: var(--green-600);
  --green-theme-secondary-btn-text: var(--green-25);
  --green-theme-user-selection-bg: color-mix(in oklab, var(--green-400) 60%, transparent);
  --green-theme-entity-accent: var(--theme-green-default);
  --green-theme-accent-text: var(--theme-green-text);
  --green-theme-accent-pill-bg-rest: var(--theme-green-background);
  --green-theme-accent-pill-bg-hover: var(--theme-green-background);
  --green-theme-accent-pill-text-rest: var(--theme-green-default);
  --green-theme-accent-pill-text-hover: var(--theme-green-text-on-background);
  --yellow-theme-user-msg-bg: var(--yellow-700);
  --yellow-theme-user-msg-text: var(--yellow-25);
  --yellow-theme-submit-btn-bg: var(--yellow-500);
  --yellow-theme-chart-color: var(--yellow-500);
  --yellow-theme-secondary-btn-bg: var(--yellow-600);
  --yellow-theme-secondary-btn-text: var(--yellow-25);
  --yellow-theme-user-selection-bg: color-mix(in oklab, var(--yellow-400) 50%, transparent);
  --yellow-theme-entity-accent: var(--theme-yellow-default);
  --yellow-theme-accent-text: var(--theme-yellow-text);
  --yellow-theme-accent-pill-bg-rest: var(--theme-yellow-background);
  --yellow-theme-accent-pill-bg-hover: var(--theme-yellow-background);
  --yellow-theme-accent-pill-text-rest: var(--theme-yellow-default);
  --yellow-theme-accent-pill-text-hover: var(--theme-yellow-text-on-background);
  --orange-theme-user-msg-bg: var(--orange-700);
  --orange-theme-user-msg-text: var(--orange-25);
  --orange-theme-submit-btn-bg: var(--orange-500);
  --orange-theme-chart-color: var(--orange-600);
  --orange-theme-secondary-btn-bg: var(--orange-600);
  --orange-theme-secondary-btn-text: var(--orange-25);
  --orange-theme-user-selection-bg: color-mix(in oklab, var(--orange-400) 60%, transparent);
  --orange-theme-entity-accent: var(--theme-orange-default);
  --orange-theme-accent-text: var(--theme-orange-text);
  --orange-theme-accent-pill-bg-rest: var(--theme-orange-background);
  --orange-theme-accent-pill-bg-hover: var(--theme-orange-background);
  --orange-theme-accent-pill-text-rest: var(--theme-orange-default);
  --orange-theme-accent-pill-text-hover: var(--theme-orange-text-on-background);
  --black-theme-user-msg-bg: var(--gray-100);
  --black-theme-user-msg-text: #000;
  --black-theme-submit-btn-bg: #fff;
  --black-theme-submit-btn-text: #000;
  --black-theme-chart-color: var(--blue-theme-chart-color);
  --black-theme-secondary-btn-bg: var(--gray-700);
  --black-theme-secondary-btn-text: #fff;
  --black-theme-user-selection-bg: color-mix(in oklab, var(--gray-600) 40%, transparent);
  --black-theme-entity-accent: var(--theme-blue-default);
  --black-theme-accent-text: var(--theme-blue-text);
  --black-theme-accent-pill-bg-rest: var(--theme-blue-background);
  --black-theme-accent-pill-bg-hover: var(--theme-blue-background);
  --black-theme-accent-pill-text-rest: var(--theme-blue-default);
  --black-theme-accent-pill-text-hover: var(--theme-blue-text-on-background)}:root,[data-chat-theme=default],[data-chat-theme=default] .dark{--theme-user-msg-bg:var(--default-theme-user-msg-bg);
  --black: #000;
  --gray-0: #fff;
  --gray-25: #fcfcfc;
  --gray-50: #f9f9f9;
  --gray-75: #f2f2f2;
  --gray-100: #ececec;
  --gray-150: #e8e8e8;
  --gray-200: #e3e3e3;
  --gray-250: #d8d8d8;
  --gray-300: #cdcdcd;
  --gray-350: silver;
  --gray-400: #b4b4b4;
  --gray-450: #a8a8a8;
  --gray-500: #9b9b9b;
  --gray-550: #818181;
  --gray-600: #676767;
  --gray-650: #545454;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-850: #1c1c1c;
  --gray-900: #171717;
  --gray-925: #121212;
  --gray-950: #0d0d0d;
  --gray-975: #0c0c0c;
  --gray-1000: #0b0b0b;
  --brand-purple: #ab68ff}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi),(min-resolution:2dppx){:root{-webkit-font-smoothing:antialiased;
}

html.mini-root.light,html.mini-root.light .markdown.prose.light {
  --blue-theme-interactive-label-accent: var(--blue-400);
  --blue-theme-interactive-bg-accent-default: var(--blue-50);
  --blue-theme-interactive-bg-accent-hover: var(--blue-75);
  --blue-theme-interactive-bg-accent-muted-hover: #ebf4ff;
  --blue-theme-interactive-bg-accent-muted-context: #ebf4ff80;
  --blue-theme-interactive-bg-accent-press: var(--blue-100);
  --blue-theme-interactive-bg-accent-muted-press: #e0efff;
  --blue-theme-interactive-bg-accent-inactive: var(--blue-50);
  --green-theme-interactive-label-accent: var(--green-400);
  --green-theme-interactive-bg-accent-default: var(--green-50);
  --green-theme-interactive-bg-accent-hover: var(--green-75);
  --green-theme-interactive-bg-accent-muted-hover: #d9f4e4;
  --green-theme-interactive-bg-accent-muted-context: #d9f4e480;
  --green-theme-interactive-bg-accent-press: var(--green-100);
  --green-theme-interactive-bg-accent-muted-press: #b8ebcc;
  --green-theme-interactive-bg-accent-inactive: var(--green-50);
  --yellow-theme-interactive-label-accent: var(--yellow-400);
  --yellow-theme-interactive-bg-accent-default: var(--yellow-50);
  --yellow-theme-interactive-bg-accent-hover: var(--yellow-75);
  --yellow-theme-interactive-bg-accent-muted-hover: #fff6d9;
  --yellow-theme-interactive-bg-accent-muted-context: #fff6d980;
  --yellow-theme-interactive-bg-accent-press: var(--yellow-100);
  --yellow-theme-interactive-bg-accent-muted-press: #ffeeb8;
  --yellow-theme-interactive-bg-accent-inactive: var(--yellow-50);
  --orange-theme-interactive-label-accent: var(--orange-400);
  --orange-theme-interactive-bg-accent-default: var(--orange-50);
  --orange-theme-interactive-bg-accent-hover: var(--orange-75);
  --orange-theme-interactive-bg-accent-muted-hover: #ffe7d9;
  --orange-theme-interactive-bg-accent-muted-context: #ffe7d980;
  --orange-theme-interactive-bg-accent-press: var(--orange-100);
  --orange-theme-interactive-bg-accent-muted-press: #ffcfb4;
  --orange-theme-interactive-bg-accent-inactive: var(--orange-50);
  --black-theme-interactive-label-accent: #8f8f8f;
  --black-theme-interactive-bg-accent-default: #f9f9f9;
  --black-theme-interactive-bg-accent-hover: #f3f3f3;
  --black-theme-interactive-bg-accent-muted-hover: #f2f2f2;
  --black-theme-interactive-bg-accent-muted-context: #f2f2f280;
  --black-theme-interactive-bg-accent-press: #e8e8e8;
  --black-theme-interactive-bg-accent-muted-press: #e0e0e0;
  --black-theme-interactive-bg-accent-inactive: #f9f9f9;
}

html.mini-root.dark,html.mini-root.dark .markdown.prose.dark {
  --blue-theme-interactive-label-accent: var(--blue-100);
  --blue-theme-interactive-bg-accent-default: var(--blue-800);
  --blue-theme-interactive-bg-accent-hover: var(--blue-700);
  --blue-theme-interactive-bg-accent-muted-hover: #394a5b;
  --blue-theme-interactive-bg-accent-muted-context: #394a5b80;
  --blue-theme-interactive-bg-accent-press: var(--blue-600);
  --blue-theme-interactive-bg-accent-muted-press: #40484f;
  --blue-theme-interactive-bg-accent-inactive: var(--blue-800);
  --green-theme-interactive-label-accent: var(--green-100);
  --green-theme-interactive-bg-accent-default: var(--green-800);
  --green-theme-interactive-bg-accent-hover: var(--green-700);
  --green-theme-interactive-bg-accent-muted-hover: #004f1f;
  --green-theme-interactive-bg-accent-muted-context: #004f1f80;
  --green-theme-interactive-bg-accent-press: var(--green-600);
  --green-theme-interactive-bg-accent-muted-press: #00692a;
  --green-theme-interactive-bg-accent-inactive: var(--green-800);
  --yellow-theme-interactive-label-accent: var(--yellow-100);
  --yellow-theme-interactive-bg-accent-default: var(--yellow-800);
  --yellow-theme-interactive-bg-accent-hover: var(--yellow-700);
  --yellow-theme-interactive-bg-accent-muted-hover: #6e5400;
  --yellow-theme-interactive-bg-accent-muted-context: #6e540080;
  --yellow-theme-interactive-bg-accent-press: var(--yellow-600);
  --yellow-theme-interactive-bg-accent-muted-press: #916f00;
  --yellow-theme-interactive-bg-accent-inactive: var(--yellow-800);
  --orange-theme-interactive-label-accent: var(--orange-100);
  --orange-theme-interactive-bg-accent-default: var(--orange-800);
  --orange-theme-interactive-bg-accent-hover: var(--orange-700);
  --orange-theme-interactive-bg-accent-muted-hover: #6d2e0f;
  --orange-theme-interactive-bg-accent-muted-context: #6d2e0f80;
  --orange-theme-interactive-bg-accent-press: var(--orange-600);
  --orange-theme-interactive-bg-accent-muted-press: #923b0f;
  --orange-theme-interactive-bg-accent-inactive: var(--orange-800);
  --black-theme-interactive-label-accent: #e8e8e8;
  --black-theme-interactive-bg-accent-default: #212121;
  --black-theme-interactive-bg-accent-hover: #303030;
  --black-theme-interactive-bg-accent-muted-hover: #222;
  --black-theme-interactive-bg-accent-muted-context: #22222280;
  --black-theme-interactive-bg-accent-press: #414141;
  --black-theme-interactive-bg-accent-muted-press: #292929;
  --black-theme-interactive-bg-accent-inactive: #212121;
}

.dark .snc .dark,.dark .snc {
  --gray-950: #141414;
}